.cover-main p
{
    margin: 0 !important;
}
.cover-main blockquote
{
    margin-top: 0 !important;
}
body
{
    font-size: 100%;
}
#sub-cover
{
    margin: 1em auto !important;
}

code
{
    background-color: #333 !important;
    color: white !important;
    padding: 1.5em 1.5em !important;
    position: relative;
    left: -2rem;
}

.token.punctuation
{
    color: aliceblue !important;
}

.txt-center
{
    text-align: center;
}

h4,h5
{
    padding-bottom: 0 !important;
    margin-bottom: 0.5em !important;
}

h5
{
    font-size: 1.15rem !important;
}

h4
{
    font-size: 1.4rem !important;
}

h4 + p, h5 + p {
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0.5em !important;
    padding-bottom: 0 !important;
}

.pad-d
{
    padding-bottom: 0.2em;
}

pre:after
{
    color: black !important;
    font-size: 1rem !important;
}

.docsify-copy-code-button
{
    right: 3.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.docsify-copy-code-button:after
{
    background-color: white !important;
    color: #333333 !important;
}

.sidebar li
{
    margin: 0 0 0 15px !important;
}

.sidebar-nav > ul > li > a
{
    color: #364149 !important;
}


.app-sub-sidebar li:before
{
    display: none !important;
}


.app-sub-sidebar li > a:before
{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 10px;
    content: "\f054";
    padding-right: 3px;
    float: left;
}

#hl1
{
    font-size: 14px !important;
}

.mBtn {
    border: 1px solid #3299bb;
    border-radius: 2rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.05rem;
    letter-spacing: .1rem;
    margin: .5rem 1rem;
    padding: .75em 2rem;
    text-decoration: none;
    transition: all .15s ease;
    background-color: #3299bb;
    color: white !important;
}

.mBtn:hover {
    opacity: .7;
}

.center {
   left: 50%;
   margin-left: -10%;
   position: relative;
}

#hl1:after
{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: '\f078';
    font-size: 10px;
    padding-left: 5px;
}

#zationH1
{
    font-family: "NexaBold";
    font-size: 3em;
    margin-bottom: 0.4em;
}

/*
Make sidebar bigger
 */

.sidebar {
    width: 350px !important;
}
.content {
    left:350px !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    text-align: center;
}

.figure {
    font-style: italic;
}

body.close .sidebar {
    transform: translateX(-350px) !important;
}
@media screen and (max-width:768px) {

    .sidebar {
        left: -350px !important;
    }

    body.close .sidebar {
        transform: translateX(350px) !important;
    }

    body.close .content {
        transform: translateX(350px) !important;
    }
}

@font-face {
    font-family: "NexaBold";
    src: url("/font/NexaBold.otf") format("opentype");
}

@font-face {
    font-family: "NexaLight";
    src: url("/font/NexaLight.otf") format("opentype");
}